{% extends 'base.html.twig' %}

{% block title %}HOME{% endblock %}

{% block body %}

    <div class="container-fluid" style="margin-top: 20px;margin-bottom: 20px">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <img src="../assets/img/noidea.png" alt="" width="100%">
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

{% endblock %}
