<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

            <link href="{{ asset('assets/css/general.css') }}" type="text/css" rel="stylesheet" />
            <!-- Font Awesome -->
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
            <!-- Google Fonts -->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
            <!-- Bootstrap core CSS -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
            <!-- Material Design Bootstrap -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">

            <!-- JQuery -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <!-- Bootstrap tooltips -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

            <link href="{{ asset('assets/css/font-awesome-animation.min.css') }}" type="text/css" rel="stylesheet" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <meta name="viewport" content="width=device-width, initial-scale=1">


            <script src="//media.twiliocdn.com/sdk/js/video/releases/2.8.0/twilio-video.min.js"></script>
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script type="text/javascript">
                $(document).ready(function() {
                    $("#success-alert").hide();
                    $("#myWish").click(function showAlert() {
                        $("#success-alert").fadeTo(2000, 500).slideUp(500, function() {
                            $("#success-alert").slideUp(500);
                        });
                    });
                });

                function myFunction() {
                    /* Get the text field */
                    var copyText = document.getElementById("myInput");

                    /* Select the text field */
                    copyText.select();
                    //copyText.setSelectionRange(0, 99999); /* For mobile devices */

                    /* Copy the text inside the text field */
                    document.execCommand("copy");
                    console.log(copyText);

                    /* Alert the copied text */
                    alert("Copied the text: " + copyText.value);
                }

                function copyStringToClipboard (str) {
                    // Create new element
                    var el = document.createElement('textarea');
                    // Set value (string to be copied)
                    el.value = str;
                    // Set non-editable to avoid focus and move outside of view
                    el.setAttribute('readonly', '');
                    el.style = {position: 'absolute', left: '-9999px'};
                    document.body.appendChild(el);
                    // Select text inside element
                    el.select();
                    // Copy text to clipboard
                    document.execCommand('copy');
                    // Remove temporary element
                    document.body.removeChild(el);
                }



            </script>
        {% endblock %}
    </head>
    {% block header %}


        <!--Navbar -->
        <nav class="mb-1 navbar navbar-expand-lg navbar-light default-color" style="background: linear-gradient(-90deg, #e0e0e0, white);">
            <a class="navbar-brand" href="#" style="margin-left: 100px">
                <img src="../assets/img/logocoding.png" alt="" height="70">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">HTML
                        </a>
                        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                            <a class="dropdown-item" href="#">Formulario de Registro</a>
                            <a class="dropdown-item" href="#">Blog Ficticio</a>
                            {#<a class="dropdown-item" href="#">Something else here</a>#}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">CSS
                        </a>
                        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                            {#<a class="dropdown-item" href="#">Formulario de Registro</a>#}
                            {#<a class="dropdown-item" href="#">Blog Ficticio</a>#}
                            {#<a class="dropdown-item" href="#">Something else here</a>#}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Javascript
                        </a>
                        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                            {#<a class="dropdown-item" href="#">Formulario de Registro</a>#}
                            {#<a class="dropdown-item" href="#">Blog Ficticio</a>#}
                            {#<a class="dropdown-item" href="#">Something else here</a>#}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">JQuery
                        </a>
                        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                            {#<a class="dropdown-item" href="#">Formulario de Registro</a>#}
                            {#<a class="dropdown-item" href="#">Blog Ficticio</a>#}
                            {#<a class="dropdown-item" href="#">Something else here</a>#}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">MySQL
                        </a>
                        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                            {#<a class="dropdown-item" href="#">Formulario de Registro</a>#}
                            {#<a class="dropdown-item" href="#">Blog Ficticio</a>#}
                            {#<a class="dropdown-item" href="#">Something else here</a>#}
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    {#<button class="btn btn-outline-white btn-lg my-3 my-sm-0 ml-3" type="submit" style="background-color: red !important">BOTÓN</button>#}

                </ul>
            </div>
        </nav>

    {% endblock%}
    <body>
        {% block body %}{% endblock %}
        {% block footer %}
            <div class="container-fluid" style="background-color: #0099cc; padding: 10px">
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="text-align: center;color:whitesmoke;margin-bottom: 0;font-size: 25px">
                            Bienvenid@ al Blog de ejercicios para Coding Dojo de Vicente Peralta.
                        </h3>
                        <div style="text-align: center; margin-top: 13px">
                        <a id="myWish" onclick="copyStringToClipboard('git clone https://vicente_peralta@bitbucket.org/vicente_peralta/codingdojophp.git');" style="color: whitesmoke;font-size: 20px">git clone https://vicente_peralta@bitbucket.org/vicente_peralta/codingdojophp.git <i class="fa fa-clone" aria-hidden="true"></i></a>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div class="alert alert-success" id="success-alert" style="display:none;margin-bottom: 0">
                            <button type="button" class="close" data-dismiss="alert">x</button>
                            <strong>¡Copiado al portapaleles!</strong>
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        <p style="text-align: center;color: whitesmoke"><b>Este blog ha sido desarrollado ocupando Symfony 5.2.4 junto a PHP 7</b></p>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>
        {% endblock %}
    </body>
</html>
